<%- include('global/header') %>
    <div class="flex py-[70px] w-full @container/home">
        <div class="w-full max-w-[1300px] px-[20px] h-[1000px]">
            Welcome to bois decopool
        </div>
    </div>
<%- include('global/footer')%>