<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
    <script defer src="/assets/scripts/header.js"></script>
</head>
<body>
    <header class="@container/header w-full h-[70px] overflow-hidden bg-primary-light shadow-lg fixed z-50 top-0 transition-300 perpspective">
        <div class="w-full max-w-[1300px] h-full mx-auto bg-transparent font-main flex items-center px-[20px] justify-between gap-3">
            <div class="w-fit">
                <img src="/assets/logo/logo.png" alt="Bois decopool" class="h-[70px] object-cover">
            </div>
            <nav class="flex gap-4">
                <a href="#home" class="hover:scale-[1.08] transition-300">Home</a>
                <a href="#home" class="hover:scale-[1.08] transition-300">Categories</a>
                <a href="#home" class="hover:scale-[1.08] transition-300">About us</a>
                <a href="#home" class="hover:scale-[1.08] transition-300">Contact us</a>
            </nav>
        </div>
    </header>